<!DOCTYPE html>
<html>
<body>

<h1> Article Blog</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Date_published</th>
        <th>Date_verified</th>


    </tr>
    {% for article in article_list %}
    <tr>
        <td> {{article.title}} </td>
        <td> {{article.content}} </td>
        <td> {{article.date_published}} </td>
        <td> {{article.date_verified}} </td>

        <td> <a href = "{% url 'delete_detail' id=article.id %}"><button style="background-color:red" class ="btn btn-danger">Delete</button> </a></td>
        <td> <a href="{% url 'update_article' id=article.id %}"><button style="background-color:green " class ="btn btn-danger">Update</button> </a></td>
        <td> <a href = "{% url 'article_detail' id=article.id %}"><button style="background-color:yellow" class ="btn btn-danger">View</button> </a></td>
    </tr>
{% endfor %}





</table>
{# {{ article_list }} #}
<p>This is a demo article blog </p>

</body>
</html>